@page "/"
@using FirstServ
@using Alpaca.Markets
@using System.Runtime.CompilerServices
@using System.Diagnostics.Eventing.Reader
@inject IAlpacaService Alserv

<PageTitle>Home</PageTitle>
<div class="center-header">
    <i class="bx bx-couch" style="font-size:64px;" />
       <h1>A F F</h1>
       <p>@buyingpower</p>
       <p>@cashh</p>
       <p>@bp2</p>

</div>
<div id = "Posistions">
    @if (paper_Pos == null)
    {
        <p>No Positions </p>
    }
    else
    {
       <ul>
        @foreach (var pos in paper_Pos)
        {
            <li>@pos.Symbol   @pos.Quantity</li>
        }
    </ul>
    }
    
</div>
<div class = "Orders">
    @if (paper_orders != null)
    {
        <ul>
        @foreach(var or in paper_orders)
        {
            <li>@or.Symbol</li>
        }
        </ul>
    }
</div>

@code {
    private decimal? buyingpower, cashh, bp2;
    private IEnumerable<IPosition>? paper_Pos;
    private IEnumerable<IOrder>? paper_orders;
    
    protected override async Task OnInitializedAsync()
    {
        var u_pos = await Alserv.GetPositions();
        if(u_pos != null)
        {
              paper_Pos = u_pos;
        }
        var u_opt = await Alserv.GetAllMyOrders();
        if (u_opt != null)
        {
            paper_orders = u_opt;
        }
        
    }
    protected async Task OnAfterRenderAsync()
    {
        var account = await Alserv.GetBuyingPower();
        var acce = await Alserv.GetCash();
        var d = await Alserv.GetAccount();
        bp2 = d.BuyingPower;
        buyingpower = account;
        cashh = acce;
    }
}