@page "/"
@using FirstServ
@using Alpaca.Markets
@using System.Runtime.CompilerServices
@using System.Diagnostics.Eventing.Reader
@using gcomp
@inject IAlpacaService Alserv

<PageTitle>Home</PageTitle>

<div class="row">
        <div class="col-md-10">
            @foreach(var(sym, bars) in data.Items)
            {
                <h3>@sym</h3>
                @foreach(var bar in bars)
                {
                    <ul>
                        <li>@bar.Open</li>
                        <li>@bar.Close</li>
                    </ul>
                }
            }
        </div>
        
        <div class="col-md-2">
            <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Account Info</b></h6>
                            <hr class="my-2" />
                            <ul>
                                <li>Buying Power: @buyingpower</li>
                                <li>Cash: @cashh</li>
                            </ul>
                        </div>
            </div>
            <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Positions</b></h6>
                            <hr class="my-2" />
                            <DataComponentPositions />
                        </div>
            </div>  
            <div class="card row mb-2">
                        <div class="card-body">
                            <h6 class="card-title"><b>Orders</b></h6>
                            <hr class="my-2" />
                            <DataComponentOrders />
                        </div>
            </div>
        </div>
</div>


@code {
    private decimal? buyingpower, cashh, bp2;
    private IMultiPage<IBar>? data;
    
    protected override async Task OnInitializedAsync()
    {
        var account = await Alserv.GetBuyingPower();
        var acce = await Alserv.GetCash();
        var d = await Alserv.GetAccount();
        bp2 = d.BuyingPower;
        buyingpower = account;
        cashh = acce;

        data = await Alserv.GetHistoricalData("AAPL", DateTime.Now.AddDays(-3), DateTime.Now);
    }
}